# =========================
# WordPress Core (ignore)
# =========================
src/wp-admin/
src/wp-includes/
src/*.php
!src/wp-content/

# =========================
# wp-content
# =========================
src/wp-content/uploads/
src/wp-content/cache/
src/wp-content/upgrade/
src/wp-content/backups/

# =========================
# Env & config
# =========================
.env
.env.*
src/wp-config.php

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Node / Build
# =========================
node_modules/
dist/
build/