{
  # Disable automatic HTTPS in production, as we will handle SSL termination at the load balancer level
  auto_https off
}

{$DOMAIN} {
  root * /app/public
  try_files {path} {path}/ /index.php?{query}

  php_server
  file_server
}